/* Task 49-52 */


/* .dd,
.dd1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
} */


/* Task 53-57 */

/* .ddi {
    margin: 0 auto;
    text-align: center;
}

.im1 {
    visibility: hidden;
}

.im11 {
    height: 500px;  
    width: 500px;
    position: fixed;
    top: 30%;
    right: 30%;
} */